﻿<div class="container">
    <div class="row">
        <div class="center-form panel">
            <div class="panel-body">
                <h2 class="text-center">Login</h2>
                <form method="post" ng-submit="loginAdmin()" name="loginForm">
                    <div class="form-group">
                        <input class="form-control input-lg" type="text" name="email"
                               ng-model="email" placeholder="Email" required autofocus>
                    </div>
                    <div class="form-group">
                        <input class="form-control input-lg" type="password" name="password"
                               ng-model="password" placeholder="Wachtwoord" required>
                    </div>
                    <button type="submit" ng-disabled="loginForm.$invalid"
                            class="btn btn-lg btn-block btn-success">
                        Inloggen
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>