﻿<div class="container">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Naam</th>
                    <th>Email</th>
                    <th>Actie</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="user in users.doc">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <button class="btn btn-danger" data-ng-click="delete(user)">Verwijderen</button>
                        <button class="btn btn-success" data-ng-click="showAdd(user)">Bewerken</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <button class="btn btn-success" data-ng-click="showAdd()">Toevoegen</button>
    </div>
</div>